.container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(119, 65, 170, 0.68);
}

.navegador {
    display: flex;
    list-style:none;
    align-items: center;
    justify-content:space-evenly;
    margin-left: 5rem;
    border-radius: 10px;
    background-color: rgb(39, 10, 67);
    padding: 6px;
    height: 2.1rem;
    gap: 10px;
}

.enlace {
    height: 2.1rem;
    padding: 0 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(39, 10, 67);
    color: white;
    font-size: 20px;
}

.enlace:hover, .active {
    background-color: rgb(77, 42, 109);
}
