.container {
    background-color: rgb(39, 10, 67);
    padding: 6px;
    margin: 10rem;
    border-radius: 10px;
    display: flex;
    gap: 5px;
}

.input {
    font-size: 22px;
    padding-left: 0.5rem;
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(91, 37, 142);
    color: white;
}

.input :focus-visible {
    background-color: aqua;
}

.boton {
    font-size: 22px;
    height: 2rem;
    width: 8rem;
    border: none;
    background-color: rgb(39, 10, 67);
    color: white;
    border-radius: 5px;
}

.boton:hover{
    background-color: rgb(126, 85, 164);
}