.App {
   width: 80%;
   margin: 0 auto;
}

html {
   background-image: url("https://images3.alphacoders.com/812/812062.png");
   background-repeat: no-repeat;
   background-size: cover;
}

hr {
   border: 1px solid rgba(188, 137, 236, 0.096);
   margin: 10px 0;
}