.App {
   width: 80%;
   margin: 0 auto;
   font-family: Helvetica, sans-serif
}

html {
   background-image: url("https://images3.alphacoders.com/812/812062.png");
   background-repeat: no-repeat;
   background-size: cover;
}

.container {
   background-color: rgba(119, 65, 170, 0.68);
   border-radius: 10px;
   margin-top: 2rem;
   padding-bottom: 5px;
}